
// Warna
$warna-hijau-muda: #7ed56f;
$warna-hijau-medium: #55c57a;
$warna-hijau-tua: #28b485;

$warna-orange-muda: #ffb900;
$warna-orange-tua: #ff7730;
$warna-biru-muda: #2998ff;
$warna-biru-tua:#5643fa;

$warna-text: #777;
$warna-putih: #fff;
$warna-hitam: #000;
$warna-putih-gelap: #eee;

// Grid
$panjang-grid:114rem;
$margin-vertikal:8rem;
$margin-horizontal:6rem;
