.composition{
    position: relative;
  
    &__photo{
        width: 55%;
        box-shadow: 0 2rem 4rem rgba($warna-hitam, .4);
        position: absolute;
        transition: .3s all;
        z-index: 5;
        &:hover{
            transform: scale(1.2);
            outline: 1.5rem solid $warna-hijau-medium;
            outline-offset: 2rem;
            z-index: 10;
        }
        @include responsive(tablet-portait){
            width: 33.333333%;
            position: relative;
            float: left;
        }
        &--1{
            top: -2rem;
            left: 0;
            @include responsive(tablet-portait){
                top: 0;
                transform: scale(1.1);
            }
        }
        &--2{
            right: 2rem;
            top: 2rem;
            @include responsive(tablet-portait){
                top: 0;
                right: 0;
                transform: scale(1.4);
                z-index: 100;
            }
        }
        &--3{
            top: 10rem;
            left: 20%;
            @include responsive(tablet-portait){
                top: 0;
                left: 0;
                transform: scale(1.1);
            }
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(.9);
        box-shadow: 0 1rem 3rem rgba($warna-hitam, .4);
    }
}
