.testimonial{
    @include responsive(tablet-portait){
        width: 110%;
    }
    @include responsive(phone){
        transform: skewX(0deg);
        width: 100%;
        border-radius: 5px;
    }
    width: 75%;
    margin: 0 auto;
    font-size: 1.6rem;
    background: $warna-putih; 
    padding: 6rem;
    padding-left: 9rem;
    box-shadow: 0 3rem 6rem rgba($warna-hitam,.1);
    transform: skewX(-12deg);
    position: relative;
    & > * {
        transform: skewX(12deg);
        @include responsive(phone){
            transform: skewX(0deg);
        }
    }
    &__shape{
        height: 13rem;
        width: 13rem;
        float: left;
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        transform: translateX(-4rem) skewX(12deg);
        @include responsive(tablet-portait){
            transform: translateX(-2rem) skewX(12deg);
        }
        @include responsive(phone){
            transform: translateX(-2rem) skewX(0);

        }

    }
    &__gambar{
        width: 100%;
        height: 100%;
        transform:scale(1.4);
        transition: .5s all;
    }
    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,20%);
        text-align: center;
        color: $warna-putih;
        text-transform: uppercase;
        transition: .5s all;
        opacity: 0;
    }
    &:hover &__caption{
        transform: translate(-50%,-50%);
        opacity: 1;
    }
    &:hover &__gambar{
        transform: scale(1);
        filter: blur(5px) brightness(80%);
    }
}