.section-about{
    padding: 20rem  0;
    margin-top: -12rem;
    // Ukuran Tablet
    @include responsive(tablet-portait){
        padding: 15rem 0;
    }
}
.section-fitur{
    padding: 20rem 0;
    margin-top: -10rem;
    background: linear-gradient(to right bottom,rgba(126, 213, 111, 0.8),rgba(40, 180, 133, 0.8)),
    url('../img/nat-4.jpg') no-repeat top /cover;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
     // Ukuran Tablet
    @include responsive(tablet-portait){
        padding: 15rem 0 5rem 0;
    }
}
.section-tours{
    padding: 20rem 0;
    background: #eeeeee;
    margin-top: -10rem;
}
.section-testimonial{
    padding: 20rem 0;
    position: relative;
     // Ukuran Tablet
    @include responsive(tablet-portait){
        padding: 10rem 0 10rem 0;
    }
}
.section-booking{
    padding: 15rem 0;
    background: linear-gradient(to right bottom, $warna-hijau-muda, $warna-hijau-tua);
     // Ukuran Tablet
    @include responsive(tablet-portait){
        padding: 10rem 0;
    }
}
